<div class="so-accordion-wrapper">
	<div class="so-tab">
  	
  	<label class="accordion boldf" for="so-tab-1">
      Do you need dipping sauces?
    </label>
    <input type="checkbox" id="so-tab-3"> No
    <input class="so-tab-input1" id="so-tab-2" type="checkbox"> Yes
	  	<div class="dips" style="display:none">
  			<div class="grid-uniform" style="display: none;">
			    <form method="post" action="/cart/add" class="product-form__item">
			    </form>
  			</div>

  			<form action="/cart" method="post">
			    <table>
			      <tbody>
				      {% for product in collection.products %}
				        {% if product.available %}
				          {% for variant in product.variants %}
				            {% if variant.available %}
				              <tr class="{% cycle 'pure-table-odd', '' %}">
				                <td>
				                  <a>
				                   {{ product.title }}{% unless variant.title contains 'Default' %} - {{ variant.title }}{% endunless %}{% unless variant.sku == blank %} - {{ variant.sku }}{% endunless %}
				                  </a>
				                </td>
				                <!--<td>
				                   {{ variant.price | money }}
				                </td>-->
				                <td>
				                  <!--<input name="updates[{{ variant.id }}]" onfocus="this.select()" class="cart__product-qty" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />-->
			                    	<input type="checkbox" style="width: 17px;height: 17px;" name="updates[{{ variant.id }}]" id="updates_{{ variant.id }}" class="cart__product-qty" value="1" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max="{{ item.variant.inventory_quantity }}" {% endunless %} min="0" data-id="{{ item.key }}"> 
				                </td>
				              </tr>
				            {% endif %}
				          {% endfor %}
				        {% endif %}
				      {% endfor %}
  						<td></td>
  						<td></td>
  						<td>
  					    <div>
  					      <input type="submit" value="Add" class="add-recommd"/>
  					    </div>
  						</td>
			    	</tbody>
			    </table>
  			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#so-tab-2').change(function() {
    	$(this).next('.dips').toggle();
    	if($(this).is(':checked')){
    		$('.right-col *').removeAttr('disabled');
    		//$('.dips').show();
    		$("#so-tab-3").prop("checked", false);
    	} else {
    		//$('.dips').hide();
    		$('.right-col *').attr('disabled', true);
    	}
	});

	$('#so-tab-3').change(function() {
    	if($(this).is(':checked')){
    		$('.right-col *').removeAttr('disabled');
    		$("#so-tab-2").prop("checked", false);
			$('.dips').hide();
    	} else {
    		$('.right-col *').attr('disabled', true);
    	}
	});
</script>

<style type="text/css">
	.js-qty {
		margin-bottom: unset !important;
		display: inline-block;
	}

	.dipping-sauce {
		margin-bottom: 10px;
		border-bottom: 1px solid #CACACA;
	}

	.so-tab {
		position: relative;
		width: 100%;
		overflow: hidden;
		/*margin-top: 10px;*/
	}

	.so-tab label {
		position: relative;
		display: block;
		padding: 3px 25px 0 0;
		line-height: normal;
		cursor: pointer;
		font-size: 16px;
		font-style: normal;
		font-weight: bold;
		/*color: #D1B159;*/
	}

	.accordion {
		/*background-color: #eee;*/
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		height: 30px;
	}

	.active, .accordion:hover {
		background-color: #DDDDDD;
	}

	.so-tab-input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	.so-tab-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height .35s;
		padding-top: 10px;
	}

	/* :checked */
	.so-tab-input:checked ~ .so-tab-content {
		max-height: none;
	}

	/* :checked */
	.so-tab-input1:checked ~ .so-tab-content1 {
		max-height: none;
	}

	/* Icon */
	.so-tab label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
		font-weight: bold;
	}

	.so-tab input[type=checkbox] + label::after {
		content: "+";
		padding: 0 6px 0 0;
		font-size: larger;
	}

	.so-tab input[type=radio] + label::after {
		content: "\25BC";
	}

	.so-tab input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	}

	.so-tab input[type=radio]:checked + label::after {
		transform: rotateX(180deg);
	}

	.grid-product__title {
		font-size: 18px; /*14.26px*/
	}        
	.product-single__quantity {
	 	margin-top: 0px;
	}

	.product-single__add-to-cart .icon.icon-cart {
		font-size: 20px !important;
	}

	.btn--add-to-cart {
		min-width: 20px !important;
	}

	tr:first-child th, tr:first-child td {
		position: unset;
	}

	th, td {
		text-align: center;
	}

	.add-recommd {
		/*float: right;*/
		background: #2D2D2D;
		color: #EAEAEA;
		width: 100%;
		border-radius: 0px;
	}

	@media screen and (max-width: 768px) {
		.product-single__meta {
			padding-top: 0px;
		}

		.grid-product__title {
			font-size: 1.11em;
		}

		.grid-product__wrapper {
			margin-bottom: 0px;
		}

		.grid-product__meta {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		.product-single__add-to-cart {
			margin-bottom: 0px;
		}

		.btn--add-to-cart.btn {
			height: 40px;
		}

		.add-recommd {
			width: 100%;
		}
	}
</style>
