<div class="so-accordion-wrapper">
	<div class="so-tab">
  	
  	<label class="accordion" for="so-tab-1">
      Do you need dipping sauces?
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 172 172" style=" fill:#000000;"><g transform="translate(1.462,1.462) scale(0.983,0.983)"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="none" stroke-linecap="butt" stroke-linejoin="none" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g fill="#000000" stroke="#000000" stroke-width="3" stroke-linejoin="round"><path d="M96.32,6.88c3.7625,0 6.88,3.1175 6.88,6.88v6.88c0,2.51281 -1.3975,4.71656 -3.44,5.9125v11.2875c0,0.87344 0.86,2.06938 2.63375,4.17906c1.77375,2.10969 4.24625,5.20031 4.24625,9.58094c0,3.74906 -1.11531,6.57094 -1.98875,8.64031c-0.88687,2.05594 -1.45125,3.30562 -1.45125,5.11969c0,-0.24187 0.29563,0.87344 1.45125,2.41875c1.16906,1.53188 2.9025,3.50719 4.71656,5.85875c3.60125,4.67625 7.59219,11.03219 7.59219,19.2425c0,0.01344 0,58.66813 0,58.68156c0,2.66062 -0.63156,5.29437 -1.81406,7.68625l-1.98875,3.9775c-0.57781,1.15562 -1.77375,1.89469 -3.07719,1.89469h-48.16c-1.30344,0 -2.49937,-0.73906 -3.07719,-1.89469l-1.98875,-3.9775c-1.1825,-2.39188 -1.81406,-5.02563 -1.81406,-7.68625c0,-0.01344 0,-58.66812 0,-58.68156c0,-8.21031 3.99094,-14.56625 7.59219,-19.2425c1.81406,-2.35156 3.5475,-4.32687 4.71656,-5.85875c1.15563,-1.54531 1.45125,-2.66062 1.45125,-2.41875c0,-1.81406 -0.56437,-3.06375 -1.45125,-5.11969c-0.87344,-2.06938 -1.98875,-4.89125 -1.98875,-8.64031c0,-4.38062 2.4725,-7.47125 4.24625,-9.58094c1.77375,-2.10969 2.63375,-3.30563 2.63375,-4.17906v-11.2875c-2.0425,-1.19594 -3.44,-3.39969 -3.44,-5.9125v-6.88c0,-3.7625 3.1175,-6.88 6.88,-6.88zM75.68,20.64h20.64v-6.88h-20.64zM79.12,37.84c0,4.07156 -2.58,6.63813 -4.24625,8.61344c-1.66625,1.97531 -2.63375,3.29219 -2.63375,5.14656c0,2.48594 0.60469,3.96406 1.45125,5.92594c0.83313,1.97531 1.98875,4.48813 1.98875,7.83406c0,2.82188 -1.42437,4.66281 -2.84875,6.5575c-1.41094,1.88125 -3.1175,3.80281 -4.74344,5.9125c-3.27875,4.24625 -6.16781,9.07031 -6.16781,15.05v1.62594c5.42875,-2.12312 14.60656,-5.06594 24.08,-5.06594c9.44656,0 18.63781,2.94281 24.08,5.07938v-1.63938c0,-5.97969 -2.88906,-10.80375 -6.16781,-15.05c-1.62594,-2.10969 -3.3325,-4.03125 -4.74344,-5.9125c-1.42437,-1.89469 -2.84875,-3.73562 -2.84875,-6.5575c0,-3.34594 1.15563,-5.85875 1.98875,-7.83406c0.84656,-1.96187 1.45125,-3.44 1.45125,-5.92594c0,-1.85437 -0.9675,-3.17125 -2.63375,-5.14656c-1.66625,-1.97531 -4.24625,-4.54187 -4.24625,-8.61344v-10.32h-13.76zM61.92,102.08469v36.63063c2.58,1.16906 13.06125,5.76469 24.08,5.76469c11.01875,0 21.5,-4.59562 24.08,-5.76469v-36.63063c-2.58,-1.16906 -13.06125,-5.76469 -24.08,-5.76469c-11.08594,0 -21.51344,4.59563 -24.08,5.76469zM103.2,106.64v7.4175c-4.04469,-1.74687 -10.19906,-3.9775 -17.2,-3.9775c-7.06812,0 -13.18219,2.23063 -17.2,3.9775v-7.4175c4.515,-1.67969 10.46781,-3.44 17.2,-3.44c6.71875,0 12.67156,1.76031 17.2,3.44zM61.92,151.56156c0,1.59906 0.37625,3.17125 1.08844,4.60906l1.03469,2.06937h43.91375l1.03469,-2.06937c0.71219,-1.43781 1.08844,-3.01 1.08844,-4.60906v-5.28094c-5.44219,2.13656 -14.63344,5.07937 -24.08,5.07937c-9.44656,0 -18.63781,-2.94281 -24.08,-5.07937z"></path></g><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><g fill="#000000" stroke="none" stroke-width="1" stroke-linejoin="miter"><path d="M75.68,6.88c-3.7625,0 -6.88,3.1175 -6.88,6.88v6.88c0,2.51281 1.3975,4.71656 3.44,5.9125v11.2875c0,0.87344 -0.86,2.06938 -2.63375,4.17906c-1.77375,2.10969 -4.24625,5.20031 -4.24625,9.58094c0,3.74906 1.11531,6.57094 1.98875,8.64031c0.88688,2.05594 1.45125,3.30562 1.45125,5.11969c0,-0.24187 -0.29562,0.87344 -1.45125,2.41875c-1.16906,1.53188 -2.9025,3.50719 -4.71656,5.85875c-3.60125,4.67625 -7.59219,11.03219 -7.59219,19.2425v6.83969c0,0.01344 0,0.02688 0,0.04031v51.80156c0,2.66062 0.63156,5.29437 1.81406,7.68625l1.98875,3.9775c0.57781,1.15562 1.77375,1.89469 3.07719,1.89469h48.16c1.30344,0 2.49938,-0.73906 3.07719,-1.89469l1.98875,-3.9775c1.1825,-2.39188 1.81406,-5.02563 1.81406,-7.68625v-10.48125c0,-0.01344 0,-0.02688 0,-0.04031v-48.16c0,-8.21031 -3.99094,-14.56625 -7.59219,-19.2425c-1.81406,-2.35156 -3.5475,-4.32687 -4.71656,-5.85875c-1.15562,-1.54531 -1.45125,-2.66062 -1.45125,-2.41875c0,-1.81406 0.56438,-3.06375 1.45125,-5.11969c0.87344,-2.06938 1.98875,-4.89125 1.98875,-8.64031c0,-4.38062 -2.4725,-7.47125 -4.24625,-9.58094c-1.77375,-2.10969 -2.63375,-3.30563 -2.63375,-4.17906v-11.2875c2.0425,-1.19594 3.44,-3.39969 3.44,-5.9125v-6.88c0,-3.7625 -3.1175,-6.88 -6.88,-6.88zM75.68,13.76h20.64v6.88h-20.64zM79.12,27.52h13.76v10.32c0,4.07156 2.58,6.63813 4.24625,8.61344c1.66625,1.97531 2.63375,3.29219 2.63375,5.14656c0,2.48594 -0.60469,3.96406 -1.45125,5.92594c-0.83312,1.97531 -1.98875,4.48813 -1.98875,7.83406c0,2.82188 1.42438,4.66281 2.84875,6.5575c1.41094,1.88125 3.1175,3.80281 4.74344,5.9125c3.27875,4.24625 6.16781,9.07031 6.16781,15.05v1.63938c-5.44219,-2.13656 -14.63344,-5.07938 -24.08,-5.07938c-9.47344,0 -18.65125,2.94281 -24.08,5.06594v-1.62594c0,-5.97969 2.88906,-10.80375 6.16781,-15.05c1.62594,-2.10969 3.3325,-4.03125 4.74344,-5.9125c1.42438,-1.89469 2.84875,-3.73562 2.84875,-6.5575c0,-3.34594 -1.15562,-5.85875 -1.98875,-7.83406c-0.84656,-1.96187 -1.45125,-3.44 -1.45125,-5.92594c0,-1.85437 0.9675,-3.17125 2.63375,-5.14656c1.66625,-1.97531 4.24625,-4.54187 4.24625,-8.61344zM86,96.32c11.01875,0 21.5,4.59563 24.08,5.76469v36.63063c-2.58,1.16906 -13.06125,5.76469 -24.08,5.76469c-11.01875,0 -21.5,-4.59562 -24.08,-5.76469v-36.63063c2.56656,-1.16906 12.99406,-5.76469 24.08,-5.76469zM86,103.2c-6.73219,0 -12.685,1.76031 -17.2,3.44v7.4175c4.01781,-1.74687 10.13188,-3.9775 17.2,-3.9775c7.00094,0 13.15531,2.23063 17.2,3.9775v-7.4175c-4.52844,-1.67969 -10.48125,-3.44 -17.2,-3.44zM61.92,146.28063c5.44219,2.13656 14.63344,5.07937 24.08,5.07937c9.44656,0 18.63781,-2.94281 24.08,-5.07937v5.28094c0,1.59906 -0.37625,3.17125 -1.08844,4.60906l-1.03469,2.06937h-43.91375l-1.03469,-2.06937c-0.71219,-1.43781 -1.08844,-3.01 -1.08844,-4.60906z"></path></g><path d="" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="M86,172c-47.49649,0 -86,-38.50351 -86,-86v0c0,-47.49649 38.50351,-86 86,-86v0c47.49649,0 86,38.50351 86,86v0c0,47.49649 -38.50351,86 -86,86z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="M86,168.56c-45.59663,0 -82.56,-36.96337 -82.56,-82.56v0c0,-45.59663 36.96337,-82.56 82.56,-82.56v0c45.59663,0 82.56,36.96337 82.56,82.56v0c0,45.59663 -36.96337,82.56 -82.56,82.56z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="M0,172v-172h172v172z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="M3.44,168.56v-165.12h165.12v165.12z" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path><path d="" fill="none" stroke="none" stroke-width="1" stroke-linejoin="miter"></path></g></g></svg>
    </label>
    <input type="checkbox" id="so-tab-3"> No
    <input class="so-tab-input1" id="so-tab-2" type="checkbox"> Yes
	  	<div class="dips" style="display:none">
  			<div class="grid-uniform" style="display: none;">
			    <form method="post" action="/cart/add" class="product-form__item">
			    </form>
  			</div>

  			<form action="/cart" method="post">
			    <table>
			      <tbody>
				      {% for product in collection.products %}
				        {% if product.available %}
				          {% for variant in product.variants %}
				            {% if variant.available %}
				              <tr class="{% cycle 'pure-table-odd', '' %}">
				                <td>
				                  <a>
				                   {{ product.title }}{% unless variant.title contains 'Default' %} - {{ variant.title }}{% endunless %}{% unless variant.sku == blank %} - {{ variant.sku }}{% endunless %}
				                  </a>
				                </td>
				                <!--<td>
				                   {{ variant.price | money }}
				                </td>-->
				                <td>
				                  <!--<input name="updates[{{ variant.id }}]" onfocus="this.select()" class="cart__product-qty" min="0" {% unless variant.inventory_management == blank or variant.inventory_policy == 'continue' %} max="{{ variant.inventory_quantity }}" {% endunless %} type="text" value="0" tabindex="1" />-->
			                    	<input type="checkbox" style="width: 17px;height: 17px;" name="updates[{{ variant.id }}]" id="updates_{{ item.key }}" class="cart__product-qty" value="1" {% unless item.variant.inventory_management == blank or item.variant.inventory_policy == 'continue' %} max="{{ item.variant.inventory_quantity }}" {% endunless %} min="0" data-id="{{ item.key }}"> 
				                </td>
				              </tr>
				            {% endif %}
				          {% endfor %}
				        {% endif %}
				      {% endfor %}
  						<td></td>
  						<td></td>
  						<td>
  					    <div>
  					      <input type="submit" value="Add" class="add-recommd"/>
  					    </div>
  						</td>
			    	</tbody>
			    </table>
  			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('#so-tab-2').change(function() {
    	$(this).next('.dips').toggle();
    	if($(this).is(':checked')){
    		$('.right-col *').removeAttr('disabled');
    		//$('.dips').show();
    		$("#so-tab-3").prop("checked", false);
    	} else {
    		//$('.dips').hide();
    		$('.right-col *').attr('disabled', true);
    	}
	});

	$('#so-tab-3').change(function() {
    	if($(this).is(':checked')){
    		$('.right-col *').removeAttr('disabled');
    		$("#so-tab-2").prop("checked", false);
			$('.dips').hide();
    	} else {
    		$('.right-col *').attr('disabled', true);
    	}
	});
</script>

<style type="text/css">
	.js-qty {
		margin-bottom: unset !important;
		display: inline-block;
	}

	.dipping-sauce {
		margin-bottom: 10px;
		border-bottom: 1px solid #1C1D1D;
	}

	.so-tab {
		position: relative;
		width: 100%;
		overflow: hidden;
		margin-top: 10px;
	}

	.so-tab label {
		position: relative;
		display: block;
		padding: 3px 25px 0 0;
		line-height: normal;
		cursor: pointer;
		font-size: 18px;
		font-style: normal;
		font-weight: bold;
		color: #D1B159;
	}

	.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
		transition: 0.4s;
		height: 30px;
	}

	.active, .accordion:hover {
		background-color: #DDDDDD;
	}

	.so-tab-input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	.so-tab-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height .35s;
		padding-top: 10px;
	}

	/* :checked */
	.so-tab-input:checked ~ .so-tab-content {
		max-height: none;
	}

	/* :checked */
	.so-tab-input1:checked ~ .so-tab-content1 {
		max-height: none;
	}

	/* Icon */
	.so-tab label::after {
		position: absolute;
		right: 0;
		top: 0;
		display: block;
		-webkit-transition: all .35s;
		-o-transition: all .35s;
		transition: all .35s;
		font-weight: bold;
	}

	.so-tab input[type=checkbox] + label::after {
		content: "+";
		padding: 0 6px 0 0;
		font-size: larger;
	}

	.so-tab input[type=radio] + label::after {
		content: "\25BC";
	}

	.so-tab input[type=checkbox]:checked + label::after {
		transform: rotate(315deg);
	}

	.so-tab input[type=radio]:checked + label::after {
		transform: rotateX(180deg);
	}

	.grid-product__title {
		font-size: 18px; /*14.26px*/
	}        
	.product-single__quantity {
	 	margin-top: 0px;
	}

	.product-single__add-to-cart .icon.icon-cart {
		font-size: 20px !important;
	}

	.btn--add-to-cart {
		min-width: 20px !important;
	}

	tr:first-child th, tr:first-child td {
		position: unset;
	}

	th, td {
		text-align: center;
	}

	.add-recommd {
		float: right;
		background: #2D2D2D;
		color: #EAEAEA;
		width: 32%;
		border-radius: 0px;
	}

	@media screen and (max-width: 768px) {
		.product-single__meta {
			padding-top: 0px;
		}

		.grid-product__title {
			font-size: 1.11em;
		}

		.grid-product__wrapper {
			margin-bottom: 0px;
		}

		.grid-product__meta {
			padding-top: 6px;
			padding-bottom: 6px;
		}

		.product-single__add-to-cart {
			margin-bottom: 0px;
		}

		.btn--add-to-cart.btn {
			height: 40px;
		}

		.add-recommd {
			width: 100%;
		}
	}
</style>
