<!-- /templates/customers/register.liquid -->

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h2 style="font-size: 2em;">{{ 'customer.register.title' | t }}</h2>
      <hr class="hr--small">
    </header>

    <div class="form-vertical">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{ 'customer.register.first_name' | t }}*" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required>

        <label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{ 'customer.register.last_name' | t }}*" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>

        <label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>
        <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}*" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>
		
	    <label for="LanguageChoice" class="hidden-label">Please select a language</label>
        <select id="CustomerFormLang" name="customer[note][Language]" style="width: 100%;">
          <option value="" disabled selected hidden>Please select a language</option>
          <option>English</option>
          <option>French</option>
          <option>Japanese</option>
          <option>Mandarin</option>
          <option>Spanish</option>
        </select>
      
        <label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}*" required>

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--full">
        </p>
	    <p>{{ 'layout.customer.log_in' | t | customer_login_link }}</p>
        <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

      {% endform %}
    </div>

  </div>

</div>

<style>
  .main-content {
    margin-top: 110px;
  }
  
  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 100px;
    }
  }
</style>