<img src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/Contact_101cc4cd-c261-4ff9-a328-542523695492.jpg?v=1578990578" alt="contact us" title="Contact Us | Eatoo UK" />
<!-- /templates/page.contact.liquid -->
<div class="grid">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center" style="margin-bottom: 0px;">
      <h2 style="font-size: 2em;"><b>{{ page.title }}</b></h2>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          <span><img alt="Contact | Eatoo UK" title="Contact | Eatoo UK" class="Cicon" src="https://img.icons8.com/pastel-glyph/18/000000/time.png">Customer service hour: Mon - Sat, 11.00 a.m - 10.00 p.m</span>
          <br class="mbr">
          <span class="mtel"><img alt="Emaill | Eatoo UK" title="Emaill | Eatoo UK" class="Cicon" src="https://img.icons8.com/material-outlined/18/000000/new-post.png">Email: contact@eatoo.co.uk</span>
          
          <br class="mbr">
          <span class="mtel"><img alt="Telephone | Eatoo UK" title="Telephone | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/phone.png">Tel: 07729926273</span>
          <br class="mobile">
          <br class="mbr">
          <span><img alt="WhatsApp | Eatoo UK" title="WhatsApp | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/whatsapp.png"/>WhatsApp: 07729926273</span>
          <br class="mbr">
          <span class="mtel"><img alt="Instagram | Eatoo UK" title="Instagram | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/instagram-new.png"/>Instagram: <a href="https://www.instagram.com/eatoo.uk">eatoo.uk</a></span>
          <br class="mbr">
          <span class="mtel"><img alt="Facebook | Eatoo UK" title="Facebook | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/facebook-new.png"/>Facebook: eatoouk</span>
          <br class="mbr">
          <span class="mtel"><img alt="Twitter | Eatoo UK" title="Twitter | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/twitter.png"/>Twitter: eatoouk</span>
          <br class="mobile">
          <br class="mbr">
          <span><img alt="WeChat | Eatoo UK" title="WeChat | Eatoo UK" class="Cicon" src="https://img.icons8.com/ios/18/000000/weixing.png"/>WeChat: eatoouk01 & eatoouk02 & eatoouk03</span>
          <br>
          
          <span><img alt="Address | Eatoo UK" title="Address | Eatoo UK" class="Cicon" src="https://img.icons8.com/material-outlined/18/000000/address.png">Address: Eatoo Ltd, 4 Harbour Exchange Square, London, E14 9GD</span>
          {{ page.content }}
          <br><br>
          <span>
            Fill our form below and we will get back to you as soon as possible.
          </span>
          <p></p>
          <p></p>
        </div>

        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>

            <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">

            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input style="font-weight: bold;" type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>
      </div>
    </div>

  </div>

</div>

<style>
  .main-content {
    margin-top: 80px;
  }
  
  .mtel {
    margin-left: 30px;
  }

  .Cicon {
    margin: 0px 2px -3px 2px !important;
  }

  .mbr {
    display: none;
  }

  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 100px;
    }

    .mtel {
      margin-left: 0px;
    }

    .mbr {
      display: block;
    }

    .mobile{
      display: none;
  }
</style>