<img src="https://cdn.shopify.com/s/files/1/0093/0306/4631/files/Contact_101cc4cd-c261-4ff9-a328-542523695492.jpg?v=1578990578" alt="contact us" title="Contact Us | Eatoo UK" />
<!-- /templates/page.contact.liquid -->
<div class="grid">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center" style="margin-bottom: 0px;">
      <h2 style="font-size: 2em;"><b>{{ page.title }}</b></h2>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          <span>
            Once we receive the messages we will contact you as soon as possible.
          </span>
          <p></p>
          <a class="Cicon" style="all:unset"><span style="font-size: 18px;"><i class="far fa-envelope"></i></span><span class="details">support@eatoo.co.uk</span></a>
          <br>
          <a class="Cicon" style="all:unset"><span style="font-size: 18px;"><i class="fas fa-phone"></i></span><span class="details">02080500060 (Mon - Fri, 10am - 6pm)</span></a>
          <br><br>
        </div>

        <div class="form-vertical">
          {% form 'contact' %}

            {% comment %}
              Successful message
            {% endcomment %}
            {% if form.posted_successfully? %}
              <p class="note form-success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {% endif %}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName" class="hidden-label">{{ 'contact.form.name' | t }}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" class="hidden-label">{{ 'contact.form.email' | t }}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>
            </div>

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormPhone" class="hidden-label">{{ 'contact.form.phone' | t }}</label>
                <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{ 'contact.form.phone' | t }}" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormOrderNumber" class="hidden-label">Order Number</label>
                <input type="text" id="ContactFormOrderNumber" class="input-full" name="contact[Order Number]" placeholder="Order Number">
              </div>
            </div>
            <label for="ContactFormMessage" class="hidden-label">CATEGORY</label>
            <select required class="input-full" id="ContactFormCategory" name="contact[category]">
              <option value="" disabled selected>Choose a category</option>
              <option value="General Information">General Information</option>
              <option value="Order Query">Order Query</option>
              <option value="Stockist Enquiry">Stockist Enquiry</option>
              <option value="Specialist Enquiry">Specialist Enquiry</option>
              <option value="My Account">My Account</option>
              <option value="Other">Other</option>
            </select>
            <label for="ContactFormMessage" class="hidden-label">{{ 'contact.form.message' | t }}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

            <input style="font-weight: bold;" type="submit" class="btn right" value="{{ 'contact.form.send' | t }}">

          {% endform %}
        </div>
      </div>
    </div>

  </div>

</div>

<script src="https://www.cloudonegalaxy.com/cloud/contact/contact.js" data-formId="1188" data-shop="eatoo.myshopify.com" defer="defer"></script>

<style>
  .main-content {
    margin-top: 80px;
  }
  
  .mtel {
    margin-left: 30px;
  }

  .Cicon {
    margin: 0px 2px -3px 0px !important;
    cursor: pointer;
  }

  .fdetails {
    padding-left: 5px;
    padding-right: 30px;
    cursor: pointer;
  }
  
  .mbr {
    display: none;
  }

  .details {
    padding-left: 5px;
  }
  
  .fa.fa-instagram, .fab.fa-facebook,.fab .fa-twitter{
    cursor: pointer;
  }
  
  .fa.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  /*#fSel {
    width: 100%;
  }*/

  @media screen and (max-width: 768px) {
    .main-content {
      margin-top: 100px;
    }

    .mtel {
      margin-left: 0px;
    }

    .mbr {
      display: block;
    }

    .mobile{
      display: none;
  }
</style>